/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body
{
    background-image: linear-gradient(red, black);
    background-repeat: no-repeat;
    height: 100vh;
}